* {
  background-color: rgb(249, 234, 216);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-size: 3.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  color: rgb(180, 100, 40);
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 1.5rem;
}

.square {
  margin: 1rem auto;
  height: 7rem;
  width: 7rem;
  border-radius: 25%;
  background-color: rgb(219, 139, 64);
}

.sub {
  text-align: center;
  font-weight: 200;
  font-size: larger;
}

.res {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.stats {
  text-align: center;
}

.albums {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  padding-right: 3cqi;
}

.albums img {
  max-width: 250px;
  height: auto;
  border-radius: 10%;
}

.albumText {
  text-align: center;
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
}
